@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: Montserrat;
}
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
body {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  width: 100%;
  color: #fff;
  height: 100vh;
  background-image: linear-gradient(to right, #7b4397, #dc2430);
}
.bg {
  width: 100%;
  height: 100vh;
  background-image: url(bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  position: fixed;
  z-index: -1;
}
.bg::before {
  content: "";
  position: absolute; /* Cover the entire container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgb(212, 28, 100, 0.4),
    rgb(243, 108, 33, 0.5)
  ); /* Gradient overlay */
  filter: brightness(90%) contrast(110%); /* Optional filter for the image */
  z-index: 1; /* Ensure this stays below other foreground elements */
}
.navbar .logo {
  position: relative;
  width: 100%;
  flex-basis: 50%;
}
.navbar .logo a img {
  width: 32%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-items {
  list-style: none;
  display: flex;
  margin: 0;
  justify-content: space-evenly; /* Distribute items evenly */
  padding: 0;
  flex-basis: 70%;
  align-items: center;
}

.nav-items li {
  margin-left: 10px;
}

.nav-items a {
  text-decoration: none;
  color: rgb(243, 108, 33);
  font-size: 14px;
  transition: color 0.3s;
  flex: 1;
  display: inline-block;
}

.nav-items a:hover {
  color: rgb(212, 28, 100); /* Matches the gradient colors */
}
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.hamburger span {
  background-color: #333;
  height: 4px;
  border-radius: 5px;
  width: 100%;
  transition: background-color 0.3s;
}
input,
textarea {
  width: 60%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  background-color: rgb(255, 255, 255, 0.7);
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.content {
  margin: 2rem;
}
.content h1 {
  margin-bottom: 20px;
  text-align: start;
  font-size: 3.5rem;
}
.calculator {
  flex: 1;
}
.result-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calculator label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  flex: 1;
}

.calculator input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
}

button {
  background-color: rgb(235, 57, 143);
  width: 16%;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  margin: 1rem;
}
.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.input span {
  margin-left: 1rem;
}

.input-group {
  display: flex;
  flex-direction: row;
}
button:hover {
  background-color: orange;
}
.sitescore {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  align-self: center;
  background-color: #f36c21;
  color: #fff;
  text-transform: none;
  font-size: 14px;
  transition: 0.5;
  border: none;
}
.sitescore:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}

#result {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.6);
  color: #000;
  padding: 2rem;
  border-radius: 10px;
}

#result p span {
  margin-left: 1rem;
}
.results {
  display: none;
  background-color: rgba(255, 255, 255, 0.6);
  color: #000;
  padding: 2rem;
  border-radius: 10px;
}
.dropdown-container {
  position: relative;
}

.dropdown {
  display: none;
  position: absolute;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 150px;
  border-radius: 5px;
  top: 100%;
  left: 0;
  z-index: 1000;
}

.dropdown a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
}

.dropdown a:hover {
  background: #f1f1f1;
}

.dropdown-container:hover .dropdown {
  display: block;
}

.r-logo {
  width: 30%;
  justify-self: center;
  display: flex;
}

.r-head p {
  text-align: center;
}
.results p {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}
span {
  justify-self: end;
}

footer {
  position: relative;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  color: #333;
}
footer a {
  text-decoration: none;
  color: rgb(124, 124, 131);
}
.f-logo {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
}
.f-logo img {
  width: 25%;
}
.f-contents {
  display: flex;
  flex-direction: row;
}
.f-con {
  flex: 1;
  margin: 1rem;
}
.f-con h2 {
  color: rgb(124, 124, 131);
}
.f-con p {
  color: rgb(124, 124, 131);
}
.q-links {
  display: flex;
  flex-direction: row;
}
.items {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.items a {
  padding: 0.5rem;
  color: rgb(124, 124, 131);
}
.results {
  display: none;
  background-color: rgba(255, 255, 255);
  color: #000;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    margin: 1rem;
    flex-direction: column;
  }
  .input-group {
    flex-direction: column;
  }
  button {
    width: 40%;
  }
  input,
  textarea {
    width: 90%;
  }
  .preview {
    width: 88%;
  }
  .nav-items {
    display: none;
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 99px;
    left: 0;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  .score {
    font-size: 3.5rem !important;
  }

  .nav-items li {
    margin: 10px 0;
  }

  .hamburger {
    display: flex;
  }

  .nav-items.active {
    display: flex;
  }
  .navbar .logo {
    flex-basis: 100%;
  }
  .navbar .logo a img {
    width: 40%;
    left: 65%;
    transform: translateX(-65%);
    position: relative;
  }
  .back-home a {
    font-size: 1rem;
  }
  .report-container {
    margin: 1rem;
  }
  .report-container ul {
    padding-inline-start: 20px;
  }
  .f-contents {
    flex-direction: column;
  }
  .f-logo {
    justify-content: center;
  }
  .f-logo img {
    width: 50%;
  }
}
